h1, h2, h3 {
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.titolo {
    margin-top: -150px;
}
.subtitle{
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-size: 20px;
    
	margin-top:-10px;
}

@media screen and (max-width: 667px) and (min-width: 375px) {
    .subtitle {
        font-size: 20px;
    }
}

header {
    background-image: url(../img/IMG_4144.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.introduzione{
    font-size: 17px;
}

.card-griglia {
    margin-bottom: 16px;
}

.immagine-card {
    width: 100%;
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0;
}

.nodo img {
    width: 200px;
    height: 200px;
}

/*! * text css */

.text-muted {
  color: #777777;
}
.text-primary {
  color: #333333;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #777777;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #777777;
}
/*
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
*/

#arg01, #arg02, #arg03, #arg04, #arg05, #arg06 {
    cursor: pointer;
}

.mappa{
    width: 60%;
    float: left;
}

.immagine{
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
